    div.row {
        clear: both;
    }

    div.row label {
        float: left;
        width: 150px;
        text-align: left;
    }

    div.row input:disabled {
        border: 0px;
    }
    div.row input.detalles {
        float: right;
        width: 150px;
        margin-right: 145px;
        text-align: left;
    }
    div.rta div.info{
        font-size: 10px;
        color: #555 ;
        font-family: verdana,times,sans-serif ;
    }

    div.rta div{
        width: 500px;
        border-bottom: 1px solid #ddd;
        text-align: justify;
        font-family: times,sans-serif ;
        font-size: 13px;
    }

    div.rta div.prk{
        width: 500px;
        border: none;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: verdana;
        font-size: 10px;
        color: #777;
        font-weight: bold;

    }

    div.rta div a{
        text-decoration: none;
        font-size: 17px;

    }

    input.buscador{
        float: none;
        width: 500px;
        height: 30px;
        text-align: left;

    }

    input.boton_buscador
    {
        padding: 3px 10px;
        display: inline;
        text-align: left;
        height: 30px;

    }

    input.buscador.disableInput{
        background:#DDD;
        color: #6F6F6F;
        border: solid 2px #4F81BD;
    }

    input.boton_buscador .border
    {
        border: 1px solid #a0a0a0;
    }

    input.boton_buscador .border.side.left
    {
        border-right: 1px solid #444444 !important;
    }

    input.boton_buscador .border.side.center
    {
        border-right: 1px solid #444444 !important;
        border-left: 1px solid #ffffff !important;
    }

    input.boton_buscador .border.side.right
    {
        border-left: 1px solid #ffffff !important;
    }

    input.boton_buscador .background.main
    {
        background: #eeeeee;
    }

    input.boton_buscador .background.top
    {
        background: #f3f3f3;
    }

    input.boton_buscador .background.bottom
    {
        background: #e3e3e3;
    }

    input.boton_buscador .border.hover
    {
        border-color: #666666;
    }

    input.boton_buscador .border.down
    {
        border-color: black;
    }

    input.boton_buscador .background.top.down
    {
        background: #e3e3e3;
    }

    input.boton_buscador .background.bottom.down
    {
        background: #f3f3f3;
    }

    input.boton_buscador.active
    {
        color: white;
    }

    input.boton_buscador .background.main.active
    {
        background: #aaaaaa;
    }

    input.boton_buscador .background.top.active
    {
        background: #a1a1a1;
    }

    input.boton_buscador .background.bottom.active
    {
        background: #b2b2b2;
    }

    input.boton_buscador .border.active
    {
        border-color: #222222;
    }

    input.boton_buscador .border.side.center.active, input.boton_buscador .border.side.right.active
    {
        border-left: 1px solid #cccccc !important;
    }

    input.boton_buscador .dropdown
    {
        border: 1px solid #a0a0a0;
        color: black;
        background: white;
        padding: 4px;
        list-style: none;
    }

    input.boton_buscador .dropdown.active li
    {
        background: #ffffff;
        color: black;
    }

    input.boton_buscador .dropdown.active li:hover
    {
        background: #eeeeee;
    }

